<div class="weather" style="background: url({{ url }}) no-repeat transparent; background-size: cover">
  <div class="condition" style="color: {{ color }}">
    <div class="icon"><i class="wi {{ icon }}"></i></div>
    <div class="text">{{ description }}</div>
  </div>
  <div class="temperature" style="color: {{ color }}">{{ temperature }}</div>
  <div class="measures" style="color: {{ color }}">
  	<span class="humidity"><i class="wi wi-humidity"></i>{{ humidity }}</span>
  	<span class="pressure"><i class="wi wi-barometer"></i>{{ pressure }}</span>
  	<span class="wind"><i class="wi wi-strong-wind"></i>{{ wind }}</span>
  </div>
</div>
